DATABASE_URL="postgresql://postgres:password@localhost:5432/habit_tracker?schema=public"
DATABASE_HOST="localhost"
DATABASE_PORT="5432"
DATABASE_USER="postgres"
DATABASE_PASSWORD="example_password"
JWT_SECRET="mM7/QRn2nFE74JfPtFw2Cg2WJ8xOwhGmOs+w7iU6EzE="
JWT_EXPIRES_IN="5D"